In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\IICET 20\Desktop\Simra kazi\Machine Learning\Clustering\Movies recommendation Project\TMDB_movie_dataset_v11.csv")
print("Dataset loaded Successfully")
df.head()

Dataset loaded Successfully

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [3]:
df.shape

(1172707, 24)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172707 entries, 0 to 1172706
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1172707 non-null  int64
 1   title                 1172694 non-null  object
 2   vote_average          1172707 non-null  float64
 3   vote_count            1172707 non-null  int64
 4   status                1172707 non-null  object
 5   release_date          970288 non-null   object
 6   revenue               1172707 non-null  int64
 7   runtime               1172707 non-null  int64
 8   adult                 1172707 non-null  bool
 9   backdrop_path         308763 non-null   object
 10  budget                1172707 non-null  int64
 11  homepage              123394 non-null   object
 12  imdb_id               611272 non-null   object
 13  original_language     1172707 non-null  object
 14  original_title        1172694 non-null  object
 15  overview              929633 non-null   object
 16  popularity            1172707 non-null  float64
 17  poster_path           795805 non-null   object
 18  tagline               164266 non-null   object
 19  genres                696287 non-null   object
 20  production_companies  525805 non-null   object
 21  production_countries  646182 non-null   object
 22  spoken_languages      665997 non-null   object
 23  keywords              313383 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 206.9+ MB

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
id,1172707.0,761220.440000,4.064937e+05,2.0,421666.0,767454.0,1124625.500,1.428851e+06
vote_average,1172707.0,1.829504,2.998630e+00,0.0,0.0,0.0,4.500,1.000000e+01
vote_count,1172707.0,18.291033,3.135910e+02,0.0,0.0,0.0,1.000,3.449500e+04
revenue,1172707.0,684511.804801,1.846798e+07,-12.0,0.0,0.0,0.000,5.000000e+09
runtime,1172707.0,47.225831,6.158668e+01,-28.0,0.0,21.0,88.000,1.440000e+04
budget,1172707.0,264783.820962,5.104505e+06,0.0,0.0,0.0,0.000,1.000000e+09
popularity,1172707.0,1.211520,7.471201e+00,0.0,0.6,0.6,0.874,2.994357e+03

In [6]:
df=df[df['vote_average']!=0]

In [7]:
df.reset_index(inplace=True)

In [8]:
df.shape

(351226, 25)

In [9]:
df.head()

,index,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [10]:
df.columns

Index(['index', 'id', 'title', 'vote_average', 'vote_count', 'status',
       'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path',
       'budget', 'homepage', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [11]:
df = df.drop(['index','id' , 'vote_count' , 'status' , 'release_date', 'revenue' , 'backdrop_path',
              'budget','homepage','imdb_id','original_title' , 'overview','poster_path',
              'tagline' , 'production_companies','production_countries' ,'spoken_languages' ,'keywords'], axis=1)

In [12]:
df.head()

,title,vote_average,runtime,adult,original_language,popularity,genres
0,Inception,8.364,148,False,en,83.952,"Action, Science Fiction, Adventure"
1,Interstellar,8.417,169,False,en,140.241,"Adventure, Drama, Science Fiction"
2,The Dark Knight,8.512,152,False,en,130.643,"Drama, Action, Crime, Thriller"
3,Avatar,7.573,162,False,en,79.932,"Action, Adventure, Fantasy, Science Fiction"
4,The Avengers,7.710,143,False,en,98.082,"Science Fiction, Action, Adventure"

In [13]:
df['org_title']=df['title']

In [14]:
df.isna().sum()

title                    0
vote_average             0
runtime                  0
adult                    0
original_language        0
popularity               0
genres               59589
org_title                0
dtype: int64

In [15]:
df['genres']=df['genres'].fillna('unknown')

In [16]:
df.isna().sum()

title                0
vote_average         0
runtime              0
adult                0
original_language    0
popularity           0
genres               0
org_title            0
dtype: int64

In [17]:
df.duplicated().sum()

39

In [18]:
dff=df.copy()

In [19]:
from sklearn.preprocessing import OneHotEncoder,MultiLabelBinarizer
genre_l=dff['genres'].apply(lambda x:x.split(','))
genre_l=pd.DataFrame(genre_l)

In [20]:
genre_l

                                                  genres
0                 [Action,  Science Fiction,  Adventure]
1                  [Adventure,  Drama,  Science Fiction]
2                    [Drama,  Action,  Crime,  Thriller]
3       [Action,  Adventure,  Fantasy,  Science Fiction]
4                 [Science Fiction,  Action,  Adventure]
...                                                  ...
351221                        [Comedy,  Drama,  Romance]
351222                                           [Music]
351223                                           [Drama]
351224                                         [unknown]
351225                                   [Drama,  Crime]

[351226 rows x 1 columns]

In [21]:
genre_l['genres']=genre_l['genres'].apply(lambda x:[y.strip().lower().replace(' ','')for y in x])

In [22]:
MLB=MultiLabelBinarizer()
genre_encoded=MLB.fit_transform(genre_l['genres'])

In [23]:
genre_encoded

array([[1, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [24]:
genre_encoded_df=pd.DataFrame(genre_encoded,columns=MLB.classes_)
genre_encoded_df=genre_encoded_df.reset_index()

In [25]:
mod_df = dff.drop(['genres'],axis=1)
mod_df=mod_df.reset_index()

In [26]:
df = pd.concat([mod_df,genre_encoded_df],axis=1).drop('index',axis=1)

In [27]:
df.head()

,title,vote_average,runtime,adult,original_language,popularity,org_title,action,adventure,animation,...,horror,music,mystery,romance,sciencefiction,thriller,tvmovie,unknown,war,western
0,Inception,8.364,148,False,en,83.952,Inception,1,1,0,...,0,0,0,0,1,0,0,0,0,0
1,Interstellar,8.417,169,False,en,140.241,Interstellar,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,The Dark Knight,8.512,152,False,en,130.643,The Dark Knight,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,Avatar,7.573,162,False,en,79.932,Avatar,1,1,0,...,0,0,0,0,1,0,0,0,0,0
4,The Avengers,7.710,143,False,en,98.082,The Avengers,1,1,0,...,0,0,0,0,1,0,0,0,0,0

In [28]:
df['title']=df['title'].apply(lambda x:x.strip().lower().replace(' ',''))
df['original_language'] = df['original_language'].apply(lambda x :x.strip().lower().replace(' ','') )

In [29]:
df.loc[~( (df['original_language']=='en')|(df['original_language']=='fr')|(df['original_language']=='es')|(df['original_language']=='de')|(df['original_language']=='ja')),'original_language'] = 'else'

In [30]:
OHE=OneHotEncoder(sparse_output=False)

In [31]:
df['adult']=df['adult'].astype('str')
adult_enc=OHE.fit_transform(df[['adult']])
adult_enc_df=pd.DataFrame(adult_enc,columns=OHE.get_feature_names_out())

In [32]:
adult_enc_df = adult_enc_df.drop('adult_True',axis=1)

In [33]:
lang_enc=OHE.fit_transform(df[['original_language']])
lang_enc_df=pd.DataFrame(lang_enc,columns=OHE.get_feature_names_out())

In [34]:
mod_df=df.drop(['adult','original_language'],axis=1)

In [35]:
df=pd.concat([mod_df,adult_enc_df,lang_enc_df],axis=1)

In [36]:
df.head()

,title,vote_average,runtime,popularity,org_title,action,adventure,animation,comedy,crime,...,unknown,war,western,adult_False,original_language_de,original_language_else,original_language_en,original_language_es,original_language_fr,original_language_ja
0,inception,8.364,148,83.952,Inception,1,1,0,0,0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,interstellar,8.417,169,140.241,Interstellar,0,1,0,0,0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,thedarkknight,8.512,152,130.643,The Dark Knight,1,0,0,0,1,...,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,avatar,7.573,162,79.932,Avatar,1,1,0,0,0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,theavengers,7.710,143,98.082,The Avengers,1,1,0,0,0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [37]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [38]:
df_norm=scaler.fit_transform(df.drop(['title','org_title'],axis=1))
df_norm_df=pd.DataFrame(df_norm,columns=[x for x in df.columns if x not in ['title','org_title']])

In [39]:
df=pd.concat([df[['title','org_title']],df_norm_df],axis=1)

In [40]:
df.head()

,title,org_title,vote_average,runtime,popularity,action,adventure,animation,comedy,crime,...,unknown,war,western,adult_False,original_language_de,original_language_else,original_language_en,original_language_es,original_language_fr,original_language_ja
0,inception,Inception,1.144438,1.196944,6.074488,3.469836,4.804646,-0.254784,-0.524521,-0.246261,...,-0.452024,-0.132769,-0.113936,0.244886,-0.214528,-0.589812,0.962203,-0.273019,-0.275084,-0.201285
1,interstellar,Interstellar,1.171331,1.519624,10.277376,-0.288198,4.804646,-0.254784,-0.524521,-0.246261,...,-0.452024,-0.132769,-0.113936,0.244886,-0.214528,-0.589812,0.962203,-0.273019,-0.275084,-0.201285
2,thedarkknight,The Dark Knight,1.219534,1.258407,9.560730,3.469836,-0.208132,-0.254784,-0.524521,4.060738,...,-0.452024,-0.132769,-0.113936,0.244886,-0.214528,-0.589812,0.962203,-0.273019,-0.275084,-0.201285
3,avatar,Avatar,0.743082,1.412064,5.774330,3.469836,4.804646,-0.254784,-0.524521,-0.246261,...,-0.452024,-0.132769,-0.113936,0.244886,-0.214528,-0.589812,0.962203,-0.273019,-0.275084,-0.201285
4,theavengers,The Avengers,0.812596,1.120116,7.129522,3.469836,4.804646,-0.254784,-0.524521,-0.246261,...,-0.452024,-0.132769,-0.113936,0.244886,-0.214528,-0.589812,0.962203,-0.273019,-0.275084,-0.201285

In [41]:
df=df.drop_duplicates(subset=['title'])

In [42]:
df=df.set_index(['title'])
df_fin=df.drop('org_title',axis=1)

In [43]:
movie_name='the dark knight'
movie_name=movie_name.strip().lower().replace

In [44]:
movie_name='the dark knight'
movie_name=movie_name.strip().lower().replace(' ','')
new_df=df_fin.loc[[movie_name]]

In [45]:
new_df=new_df.values.reshape(1,-1)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity
df_other=df_fin.loc[df_fin.index!=movie_name,:]
df_titles=df.loc[df.index!=movie_name,'org_title']
cosine_sim_matrix = cosine_similarity(new_df,df_other)
cosine_sim_df = pd.DataFrame(cosine_sim_matrix,index=[movie_name],columns=df_titles)

cosine_sim_df

org_title,Inception,Interstellar,Avatar,The Avengers,Deadpool,Avengers: Infinity War,Fight Club,Guardians of the Galaxy,Pulp Fiction,Forrest Gump,...,DHONG,Tom Goes to the Mayor Returns,Lonely Laura and Her Sister Niamh,La solapa,Idol Ã— Warrior: Miracle Tunes! Pilot,Kirby of the Stars Special Episode: Take it Down! The Carapace Monster Ebizo,Andy Lau Proud of You Concert,Los lÃ­mites del cielo,DÃ­a De Las Carpas,Me and Johan
thedarkknight,0.582206,0.668902,0.494064,0.623698,0.619755,0.729546,0.778698,0.334507,0.886259,0.693184,...,-0.126411,-0.113498,-0.015501,-0.101981,-0.069492,-0.143053,-0.129146,-0.06087,-0.100584,0.190668

In [47]:
sorted_row = cosine_sim_df.loc[movie_name].sort_values(ascending=False)[0:20]

In [48]:
sorted_row.index[5]

'John Wick: Chapter 3 - Parabellum'

In [49]:
!pip install gradio
import gradio as gr
from sklearn.metrics.pairwise import cosine_similarity
def predict(movie_name,no_movies):
    movie_name=movie_name.strip().lower().replace(' ','')
    if(movie_name in df_fin.index):
        new_df= df_fin.loc[[movie_name]]
        new_df = new_df.values.reshape(1,-1)
        df_other = df_fin.loc[df_fin.index!=movie_name,:]
        df_titles = df.loc[df.index!=movie_name,'org_title']
        cosine_sim_matrix = cosine_similarity(new_df,df_other)
        cosine_sim_df = pd.DataFrame(cosine_sim_matrix,index=[movie_name],columns=df_titles)
        sorted_row = cosine_sim_df.loc[movie_name].sort_values(ascending=False)[0:int(no_movies)]
        rec=''
        for i in range(int(no_movies)):
            rec+=(sorted_row.index[i])+'\n'
        return rec
    else:
        return "Sorry, this movie isn't in our database. \n try another one !"

# Define the Gradio interface
interface = gr.Interface(
    fn=predict,  # The function to be called
    inputs=[gr.Textbox(label="Movie Name : "),
            gr.Textbox(label='No.of Recommendations: ',value= '5')],# Input type
    outputs=gr.Textbox(label="Recommendations : ")  # Output type
)
interface.launch()

Requirement already satisfied: gradio in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (5.15.0)
Requirement already satisfied: aiofiles<24.0,>=22.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (23.2.1)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (4.8.0)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.115.8)
Requirement already satisfied: ffmpy in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.5.0)
Requirement already satisfied: gradio-client==1.7.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (1.7.0)
Requirement already satisfied: httpx>=0.24.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.28.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.28.1)
Requirement already satisfied: jinja2<4.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (3.1.5)
Requirement already satisfied: markupsafe~=2.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (2.1.5)
Requirement already satisfied: numpy<3.0,>=1.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (3.10.15)
Requirement already satisfied: packaging in c:\users\iicet 20\appdata\roaming\python\python312\site-packages (from gradio) (24.0)
Requirement already satisfied: pandas<3.0,>=1.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (2.2.2)
Requirement already satisfied: pillow<12.0,>=8.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (10.3.0)
Requirement already satisfied: pydantic>=2.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (2.10.6)
Requirement already satisfied: pydub in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.9.3 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.9.4)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.45.3)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.13.2)
Requirement already satisfied: typer<1.0,>=0.12 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.15.1)
Requirement already satisfied: typing-extensions~=4.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (4.12.2)
Requirement already satisfied: uvicorn>=0.14.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio) (0.34.0)
Requirement already satisfied: fsspec in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio-client==1.7.0->gradio) (2025.2.0)
Requirement already satisfied: websockets<15.0,>=10.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from gradio-client==1.7.0->gradio) (14.2)
Requirement already satisfied: idna>=2.8 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from anyio<5.0,>=3.0->gradio) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: certifi in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from httpx>=0.24.1->gradio) (2024.7.4)
Requirement already satisfied: httpcore==1.* in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from httpx>=0.24.1->gradio) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (3.17.0)
Requirement already satisfied: requests in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\iicet 20\appdata\roaming\python\python312\site-packages (from pandas<3.0,>=1.0->gradio) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2024.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from pydantic>=2.0->gradio) (2.27.2)
Requirement already satisfied: click>=8.0.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from typer<1.0,>=0.12->gradio) (8.1.8)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from typer<1.0,>=0.12->gradio) (13.7.1)
Requirement already satisfied: colorama in c:\users\iicet 20\appdata\roaming\python\python312\site-packages (from click>=8.0.0->typer<1.0,>=0.12->gradio) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\iicet 20\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\iicet 20\appdata\roaming\python\python312\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.2.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\iicet 20\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip
c:\Users\IICET 20\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

* Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.